/* Minnor resets */
ul, ol { margin: 0; }

/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 480px; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 480px;
    width: 100%;
}

/* Util */
.replacement {
  text-indent: -999px;
  overflow: hidden;
}

h1 {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
}

h1 small {
  text-transform: none;
}

h1 .section-name {
  display: block;
  margin-right: 25px;
  float: left;
}

a > small {
  font-family: Georgia, Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-style: italic;
}

/* Menu */
body {
  background-color: rgb(243, 247, 251);
  padding-top: 50px; /* fixed navbar */
}

.main-header {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* Navigation Bar */
.navbar ul {
  list-style: none;
  float: right;
  margin-right: 10px;
  height: 50px;
}

.main-header .navbar.centered ul {
  float: none;
  width: 867px;
  margin: 0 auto;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
}

.textshadow .navbar li a {
  text-shadow: 0 0 1px rgb(0, 0, 0);
}

.textshadow .navbar li a:hover,
.textshadow .navbar .active a {
  text-shadow: none;
}

.main-header .navbar {
  background-color: rgb(215, 62, 29);
  font-size: 17px;
  height: 50px;
}

.boxshadow .main-header .navbar {
  -webkit-box-shadow:  0px 0px 10px 1px rgb(0,0,0);
  box-shadow:  0px 0px 10px 1px rgb(0,0,0);
}

.main-header .navbar li a {
  border-left: 1px solid rgb(215, 62, 29);
}

.main-header .navbar .active,
.main-header .navbar li:hover {
  background-image: url("../img/white-nipple-down.png");
  background-repeat: no-repeat;
  background-position: center 50px;
  padding-bottom: 9px;
}

.main-header .navbar li:hover a,
.main-header .navbar .active a {
  background-color: rgb(255, 255, 255);
  color: rgb(215, 62, 29);
}

/* Footer */
.main-footer {
  background: url("../img/noisy-background-2.png");
  color: white;
}

.footer-info h1 {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 30px;
  padding-left: 10px;
  margin-bottom: 20px;
  background: url("../img/noisy-background.png");
}

.footer-info .news {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  list-style: none;
  margin-left: 0;
}

.footer-info .news li {
  border-bottom: 1px solid rgb(51, 51, 51);
}

.footer-info .news li:last-child {
  border: none;
}

.footer-info .news li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 15px 0;
  color: white;
}

.footer-info .see-more {
  float: right;
  color: white;
}

.footer-info .supporters {
  list-style: none;
  margin-left: 0;
}

.footer-info .supporters li {
  float: left;
  margin-bottom: 20px;
  margin-right: 30px;
}

.footer-info .supporters .last-support-image {
  margin-right: 0;
}

.footer-info .supporters li img {
  height: 85px;
  width: 160px;
  border: 5px solid rgb(38, 38, 38);
}

.main-footer .navigation {
  background: url("../img/noisy-background.png");
  font-size: 15px;
  margin-bottom: 40px;
}

.main-footer .navbar {
  margin-bottom: 0px;
  padding-right: 20px;
}

.main-footer .navbar .active,
.main-footer .navbar li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.main-footer .navbar .container {
  width: 1170px;
}

.main-footer .navbar.centered ul {
  float: none;
  width: 750px;
  margin: 0 auto;
}
/* Event call */
.event-call .image-1 {
  background: url("../img/ilha-do-recife-edited.jpg") 0 1236px;
}

.event-call .image-2 {
  background: url("../img/header-night.jpg") -30px -500px;
}

.event-call .call-infos {
  float: none;
  margin: 0 auto 30px auto;
}

.event-call .call-infos h1 {
  background: url("../img/logotipo.png");
  width: 564px;
  height: 238px;
  margin: 20px auto 0 auto;
}

.event-call .call-infos .subscription {
  background: rgb(255, 255, 255) url("../img/vertical-discs.png") no-repeat 400px 35px;
  padding: 36px 42px;
}

.boxshadow .event-call .call-infos .subscription {
  -webkit-box-shadow:  1px 1px 2px 0px rgb(110, 110, 110);
  box-shadow:  1px 1px 2px 0px rgb(110, 110, 110);
}

.event-call .call-infos .address {
  font-weight: 700;
  color: rgb(215, 62, 29);
  font-size: 24px;
  display: block;
  float: left;
  margin-top: 14px;
}

.event-call .call-infos .subscribe-button {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px 20px;
  float: right;
}

.textshadow .event-call .call-infos .subscribe-button {
  text-shadow: 0 0 1px rgb(0, 0, 0);
}

.event-call .call-infos .date {
  font-weight: 700;
  font-size: 15px;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 15px 60px;
  background-color: rgb(215, 62, 29);
  margin-left: 264px;
}

.textshadow .event-call .call-infos .date {
  text-shadow: 0 0 1px rgb(0, 0, 0);
}

.event-call .call-infos .nipple {
  display: block;
  background: url("../img/red-nipple-up.png") no-repeat center 0;
  width: 284px;
  margin-left: 264px;
  margin-top: -18px;
  height: 18px;
}

/* Content */
.content {
  background-color: rgb(243, 247, 251);
  clear: both;
}

/* Content header */
.content .content-header {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(222, 226, 229);
 }

.content .content-header.clean {
  background-color: rgb(243, 247, 251);
  border: none;
}

.content .content-header h1 {
  text-transform: uppercase;
  margin: 0;
  padding: 35px 0 30px 0;
  overflow: hidden;
}

.content .content-header .small {
  padding-top: 0;
}

.content .content-header h1 .section-name {
  color: rgb(0, 0, 0);
}

.content .content-header h1 small {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 18px;
  text-transform: lowercase;
  color: rgb(100, 100, 100);
  display: block;
  padding-top: 11px;
  overflow: hidden;
}

.content .content-header h1 small .acronym {
  text-transform: none;
}

 /* Content body */
.content.hack .content-body,
.content.inverse-hack .content-body {
  margin: 0 auto;
  width: 1170px;
}

.content.inverse-hack {
  background-color: rgb(255, 255, 255);
}

.content.hack {
  background-color: rgb(224, 62, 29);
}

.content-body .hack {
  background-color: rgb(243, 247, 251);
  height: 451px;
  float: left;
  width: 4000px;
  margin-left: -4000px;
}

.inverse-hack .content-body .hack {
  background-color: rgb(224, 62, 39);
  height: 351px;
}

.hack + .container {
  width: 1170px;
}

/* Contact page */
.content .content-body .contact-form {
  background-color: rgb(243, 247, 251);
  margin: 0;
  height: 416px;
  padding-top: 35px;
  padding-right: 30px;
  float: left;
}

.content .content-body .contact-form legend {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: oblique;
  color: rgba(215, 62, 29, 0.80);
  border: none;
}

.content .content-body .contact-form legend:after {
  background: url("../img/dashed-separator.png") repeat-x;
  display: block;
  width: 365px;
  height: 2px;
  content: "";
  position: relative;
  top: -22px;
  left: 200px;
}

.content .content-body .contact-form .visuallyhidden {
  display: none;
 }

.content .content-body .contact-form input,
.content .content-body .contact-form textarea {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 17px;
  color: rgba(215, 62, 29, 0.8);
  width: 549px;
  margin-bottom: 15px;
  padding-left: 15px;
}

.content .content-body .contact-form input {
  height: 28px;
}

.content .content-body .contact-form textarea {
  height: 104px;
  padding-top: 10px;
}

.content .content-body .contact-form input::-webkit-input-placeholder,
.content .content-body .contact-form textarea::-webkit-input-placeholder {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 17px;
  color: rgba(215, 62, 29, 0.5);
}

.content .content-body .contact-form input:-moz-placeholder,  /* Firefox 18- */
.content .content-body .contact-form textarea:-moz-placeholder {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 17px;
  color: rgba(215, 62, 29, 0.5);
}

.content .content-body .contact-form input::-moz-placeholder,  /* Firefox 19+ */
.content .content-body .contact-form textarea::-moz-placeholder {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 17px;
  color: rgba(215, 62, 29, 0.5);
}

.content .content-body .contact-form input:-ms-input-placeholder,
.content .content-body .contact-form textarea:-ms-input-placeholder {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 17px;
  color: rgba(215, 62, 29, 0.5);
}

.content .content-body .contact-form .placeholder {
  font-family: Georgia, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 17px;
  color: rgba(215, 62, 29, 0.5);
}

.content .content-body .contact-form .buttons {
  margin-top: 5px;
  float: right;
  font-size: 12px;
}

/* Address */
address {
  background-color: rgb(224, 62, 29);
  margin-left: 0 !important;
  background-image: url("../img/light-blue-nipple-right.png");
  background-position: 0 210px;
  background-repeat: no-repeat;
}

address .contact-options {
  list-style: none;
  margin-top: 42px;
  margin-left: 40px;
}

address .contact-options li {
  width: 550px;
  margin-bottom: 30px;

  font-family: Georgia, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: rgb(255, 255, 255);
}

address .contact-options li:last-child {
  margin-bottom: 0;
}

address .contact-options .icon {
  background: url("../img/contact-icons.png") no-repeat;
  display: block;
  padding-left: 100px;
}

address .contact-options .phone {
  padding-top: 12px;
  height: 37px;
  background-position: 0 0;
}

address .contact-options .physical-address {
  padding-top: 7px;
  height: 37px;
  background-position: 0 -95px;
}

address .contact-options .twitter {
  padding-top: 20px;
  height: 33px;
  background-position: 0 -177px;
}

address .contact-options .email {
  height: 29px;
  background-position: 0 -280px;
}

address .contact-options .facebook {
  padding-top: 20px;
  height: 32px;
  background-position: 0 -365px;
}

address .contact-options li a {
  color: rgb(255, 255, 255);
}

address .contact-options li a:hover {
  color: rgb(255, 255, 255);
}

/* Tab Content */
.tab-content {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(222, 226, 229);
}

.tab-pane .hour-schedule,
.tab-pane .day-schedule {
  list-style: none;
  margin-left: 35px;
}

.tab-pane .day-schedule>li {
  overflow: hidden;
  margin: 20px 0;
}

.tab-pane .day-schedule>li:first-child {
  margin-top: 45px;
}

.tab-pane .day-schedule span {
  font-family: Georgia, Helvetiva, Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
}

.tab-pane .day-schedule .initial-hour {
  font-size: 19px;
  width: 55px;
  float: left;
  color: rgb(228, 71, 44);
  margin-top: 20px;
}

.tab-pane .hour-schedule {
  width: 1030px;
  overflow: hidden;
  float: left;
  margin-left: 40px;
}

.tab-pane .hour-schedule li {
  float: left;
  padding: 8px;
  margin: 0 30px 10px 0;
  background-color: rgb(245, 186, 66);
}

.tab-pane .hour-schedule li span {
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
}

.tab-pane .hour-schedule li a {
  padding: 4px 5px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0;
  color: rgb(228, 71, 44);
  background-color: rgb(255, 255, 255);
  display: block;
}

/* Index page */
.event-explanation {
  background-color: rgb(224, 62, 39);
  padding: 30px 0;
  margin-left: 0;
  height: 291px;
}

.event-explanation h1 small {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: lighter;

  display: block;
  margin-top: 12px;
}

.event-explanation p {
  margin: 30px 0 60px 0;
}

.event-explanation,
.event-explanation .more-info {
  color: rgb(255, 255, 255);
}

.event-explanation .more-info {
  display: block;
  margin-right: 35px;
}

.event-explanation .more-info,
.news-box .more-info {
  font-size: 14px;
  float: right;
}

.news-box {
  padding-top: 30px;
  padding-left: 0;
  height: 291px;
}

.news-box h1 {
  text-transform: uppercase;
}

.news-box .news {
  list-style: none;
  margin-top: 40px;
}

.news-box .news li,
.news-box .news li a,
.news-box .more-info {
  color: rgb(228, 70, 44);
}

.news-box .news li {
  padding-left: 10px;

  background: url("../img/ellipse-red.png") no-repeat 80px 7px;
  margin-bottom: 20px;
}

.news-box .news li .date {
  font-family: "Georgia", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-style: oblique;

  display: block;
  width: 60px;
  text-align: center;

  float: left;
  margin-right: 35px;
}

.news-box .news li a {
  display: block;
  width: 465px;
  float: right;
}

.schedule {
  background-color: rgb(243, 247, 251);
}

/* News page */
.featured-news-box {
  background-color: rgb(224, 62, 39);
  color: rgb(255, 255, 255);
  padding: 45px 0 30px 0;
}

.featured-news-box .top-featured  h1 {
  margin: 0;
}

.featured-news-box .top-featured  h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: lighter;
  margin: 0 0 15px 0;
}

.featured-news-box .top-featured  p {
  width: 540px;
}

.featured-news-box .featured-news {
  list-style: none;
}

.featured-news-box .featured-news li {
  clear: both;
  margin-bottom: 25px;
}

.featured-news-box .featured-news li img {
  width: 70px;
  height: 45px;
  float: left;
  margin-right: 30px;
}

.featured-news-box .featured-news li a {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
  display: block;
  padding-top: 3px;
}

.content > .news {
  margin-bottom: 10px;
}

.news .articles {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.news .articles .date,
.news .articles .see-more {
  font-family: "Georgia", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: oblique;
}

.news .articles .date {
  font-size: 22px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);

  display: block;
  width: 70px;
  text-align: center;
  padding: 16px 0;
  background-color: rgb(111, 175, 36);

  float: left;
  margin-right: 35px;
}

.news .articles > li {
  margin-top: 40px;
}

.news .articles header {
  margin-bottom: 30px;
}

.news .articles header > h1 {
  margin-bottom: 0;
}

.news .articles header > h2 {
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  font-weight: normal;
  color: rgb(51, 51, 51);
}


.news .articles .article-body {
  padding: 35px 0;
}

.news article ul,
.news article p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding-bottom: 10px;
}

.news article h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 35px;
}

article ul,
article ol {
  margin: 0 0 10px 25px;
}

.news .articles .see-more-wrapper {
  display: block;
  width: 428px;
  margin: 25px auto 0 auto;
  background: url("../img/dashed-separator.png") repeat-x 0;
}

.news .articles .see-more {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 150px;
  background-color: rgb(243, 247, 251);

  font-size: 15px;
  color: rgb(228, 71, 44);
}

.news .pagination {
  text-align: center;
}

/* Generic Page */
.left-content {
  width: 545px;
  float: left;
}

.right-content {
  margin-left: 70px;
  width: 545px;
  float: right;
}

/* Facebook plugin */
#facebook-plugin {
  float: right;
  margin-top: 20px;
}

.content .content-header h1,
.content .content-header .header-wrapper {
  float: left;
}

.news-box #facebook-plugin {
  position: relative;
  top: -300px;
  left: 105px;
}

/* Social network buttons */
#social-networks {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}

#social-networks li a {
  display: block;
  background: url("../img/social-networks.png") no-repeat;
  height: 30px;
  width: 30px;
}

#social-networks li .facebook {
  background-position: -31px 0;
}

#social-networks li .gplus {
  background-position: -62px 0;
}

#social-networks li .twitter:hover {
  background-position: 0 -40px;
}

#social-networks li .facebook:hover {
  background-position: -31px -40px;
}

#social-networks li .gplus:hover {
  background-position: -62px -40px;
}
