<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>XVIII ENAPET &mdash; Nome da Seção</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/custom-navs.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/custom-breadcrumb.min.css">
    <!--[if gte IE 9]>
      <style type="text/css">
        .cssgradients {
          filter: none;
        }
      </style>
    <![endif]-->

    <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <header class="main-header">
      <div class="container">
        <nav class="navbar clearfix navbar-fixed-top">
          <div class="container">
            <ul>
              <li><a href="{% url 'home.home' %}" title="Início">Início</a></li>
              <li><a href="{% url 'information.home' %}" title="Informações">Informações</a></li>
              <li><a href="{% url 'register.home' %}" title="Inscrições">Inscrições</a></li>
              <li><a href="{% url 'schedule.home' %}" title="Programação">Programação</a></li>
              <li><a href="{% url 'publications.home' %}" title="Trabalhos">Trabalhos</a></li>
              <li><a href="{% url 'blog.home' %}" title="Notícias">Notícias</a></li>
              <li><a href="{% url 'contact.home' %}" title="Contato">Contato</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <section class="event-call clearfix">
        <div class="container">
          <ul id="social-networks" class="inline">
            <li>
              <a href="https://twitter.com/share?url=http%3A%2F%2Fenapet2013.ufpe.br&text=Site+do+XVIII+ENAPET" title="Compartilhe no Twitter" target="_blank" class="replacement twitter" data-toggle="tooltip"  data-placement="bottom">Twitter</a>
            </li>
            <li>
              <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fenapet2013.ufpe.br&t=Site+do+XVIII+ENAPET" title="Compartilhe no Facebook" target="_blank" class="replacement facebook" data-toggle="tooltip"  data-placement="bottom">Facebook</a>
            </li>
            <li>
              <a href="http://plus.google.com/share?url=http%3A%2F%2Fenapet2013.ufpe.br" title="Compartilhe no Google+" target="_blank" class="replacement gplus" data-toggle="tooltip"  data-placement="bottom">G+</a>
            </li>
          </ul>
          <div class="call-infos span8">
            <h1 class="replacement">XVIII ENAPET</h1>
            <div class="subscription clearfix">
              <span class="address">Recife — Pernambuco</span>
              <a href="{% url 'register.home' %}" title="Inscrições abertas" class="btn btn-success subscribe-button">Inscrições em breve</a>
            </div>
            <span class="nipple replacement">Data:</span><span class="date">1 a 6 Outubro de 2013</span>
          </div>
        </div>
      </section>
    </header>

    <section class="content clearfix">
      <header class="content-header">
        <div class="container">
          <div class="header-wrapper">
            <p class="breadcrumb">{{event.date_start|date:"j"}} de {{event.date_start|date:"F"}} / {{event.date_start|date:"H:i"}} às {{event.date_end|date:"H:i"}} / {{event.place}}</p>
            <h1 class="small">
              <span class="section-name">{{event.name}}</span>
            </h1>
          </div>
          <iframe id="facebook-plugin" src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FEnapet2013Recife&amp;send=false&amp;layout=standard&amp;width=220&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:80px;" allowTransparency="true"></iframe>
        </div>
      </header>
      <div class="content-body clearfix">
        <section class="news container">
          <ul class="nav nav-pills">
          </ul>
          <article>
            {{event.content |safe}}
          </article>
        </div>
      </div> <!-- end of .content-body -->
    </section>
    <footer class="main-footer">
      <div class="navigation">
        <nav class="navbar clearfix">
          <div class="container">
            <ul>
              <li><a href="{% url 'home.home' %}" title="Início">Início</a></li>
              <li><a href="{% url 'information.home' %}" title="Informações">Informações</a></li>
              <li><a href="{% url 'register.home' %}" title="Inscrições">Inscrições</a></li>
              <li><a href="{% url 'schedule.home' %}" title="Programação">Programação</a></li>
              <li><a href="{% url 'publications.home' %}" title="Trabalhos">Trabalhos</a></li>
              <li><a href="{% url 'blog.home' %}" title="Notícias">Notícias</a></li>
              <li><a href="{% url 'contact.home' %}" title="Contato">Contato</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container">
        <div class="row">
          <section class="span4 footer-info">
            <h1>Notícias</h1>
            <ol class="news">
              {% for article in footer_articles %}
                <li>
                  <a href="{% url 'blog_article_slug' article_slug=article.slug %}" title="{{article.title}}">
                    {{article.title}}
                  </a>
                </li>
              {% endfor %}
            </ol>
            <a href="{% url 'blog.home' %}" class="see-more"><small>ver mais</small></a>
          </section>
          <section class="span8 footer-info">
            <h1>Apoiadores</h1>
            <ul class="clearfix supporters">
              <li><a href="#" title="Universidade Federal de Pernambuco"><img src="{{STATIC_URL}}img/ufpe.jpg" alt="UFPE"/></a></li>
              <li><a href="#" title="Universidade Federal Rural de Pernambuco"><img src="{{STATIC_URL}}img/ufrpe.jpg" alt="UFRPE"/></a></li>
              <li><a href="#" title="Prefeitura da Cidade do Recife"><img src="{{STATIC_URL}}img/pcr.jpg" alt="Prefeitura da Cidade do Recife"/></a></li>
              <li class="last-support-image"><a href="#" title="Governo do Estado de Pernambuco"><img src="{{STATIC_URL}}img/pernambuco.jpg" alt="Governo do Estado de Pernambuco"/></a></li>
              <li><a href="#" title="Ministério da Educação"><img src="{{STATIC_URL}}img/mec.jpg" alt="Ministério da Educação"/></a></li>
              <li><a href="#" title="TAM"><img src="{{STATIC_URL}}img/tam.jpg" alt="TAM"/></a></li>
			  <li><a href="#" title="PET Mecânica - Ilha Solteira - UNESP"><img src="{{STATIC_URL}}img/petunesp.jpg" alt="PET MEC"/></a></li>
              <li class="last-support-image"><a href="#" title="CVC"><img src="{{STATIC_URL}}img/cvc.jpg" alt="CVC"/></a></li>
            </ul>
          </section>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="{{STATIC_URL}}js/vendor/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/vendor/jquery.backgrounder.min.js"></script>

    <script src="{{STATIC_URL}}js/custom-navs.min.js"></script>
    <script src="{{STATIC_URL}}js/main.min.js"></script>

    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
