<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>XVIII ENAPET &mdash; Nome da Seção</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/custom-navs.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/custom-breadcrumb.min.css">
    <!--[if gte IE 9]>
      <style type="text/css">
        .cssgradients {
          filter: none;
        }
      </style>
    <![endif]-->

    <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <header class="main-header">
      <div class="container">
        <nav class="navbar clearfix navbar-fixed-top">
          <div class="container">
            <ul>
              <li><a href="{% url 'home.home' %}" title="Início">Início</a></li>
              <li class="active"><a href="{% url 'information.home' %}" title="Informações">Informações</a></li>
              <li><a href="{% url 'register.home' %}" title="Inscrições">Inscrições</a></li>
              <li><a href="{% url 'schedule.home' %}" title="Programação">Programação</a></li>
              <li><a href="{% url 'publications.home' %}" title="Trabalhos">Trabalhos</a></li>
              <li><a href="{% url 'blog.home' %}" title="Notícias">Notícias</a></li>
              <li><a href="{% url 'contact.home' %}" title="Contato">Contato</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <section class="event-call clearfix">
        <div class="container">
          <ul id="social-networks" class="inline">
            <li>
              <a href="https://twitter.com/share?url=http%3A%2F%2Fenapet2013.ufpe.br&text=Site+do+XVIII+ENAPET" title="Compartilhe no Twitter" target="_blank" class="replacement twitter" data-toggle="tooltip"  data-placement="bottom">Twitter</a>
            </li>
            <li>
              <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fenapet2013.ufpe.br&t=Site+do+XVIII+ENAPET" title="Compartilhe no Facebook" target="_blank" class="replacement facebook" data-toggle="tooltip"  data-placement="bottom">Facebook</a>
            </li>
            <li>
              <a href="http://plus.google.com/share?url=http%3A%2F%2Fenapet2013.ufpe.br" title="Compartilhe no Google+" target="_blank" class="replacement gplus" data-toggle="tooltip"  data-placement="bottom">G+</a>
            </li>
          </ul>
          <div class="call-infos span8">
            <h1 class="replacement">XVIII ENAPET</h1>
            <div class="subscription clearfix">
              <span class="address">Recife — Pernambuco</span>
              <a href="{% url 'register.home' %}" title="Inscrições abertas" class="btn btn-success subscribe-button">Inscrições em breve</a>
            </div>
            <span class="nipple replacement">Data:</span><span class="date">1 a 6 Outubro de 2013</span>
          </div>
        </div>
      </section>
    </header>

    <section class="content clearfix">
      <header class="content-header">
        <div class="container">
          <div class="header-wrapper">
            <ul class="breadcrumb">
              <li><a href="{% url 'information.home' %}" title="migalhas">Informações</a> <span class="divider">/</span></li>
              <li class="active" title="Informações">Cidade</li>
            </ul>
            <h1 class="small">
              <span class="section-name">Recife</span>
            </h1>
          </div>
          <iframe id="facebook-plugin" src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FEnapet2013Recife&amp;send=false&amp;layout=standard&amp;width=220&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:80px;" allowTransparency="true"></iframe>
        </div>
      </header>
      <div class="content-body clearfix">
        <section class="news container">
          <ul class="nav nav-pills">
            <li><a href="#estado" title="Eventos">O Estado</a></li>
			<li><a href="#recife" title="Estado">A cidade</a></li>
			<li><a href="#lazer" title="Lazer">Lazer</a></li>
          </ul>
          <article>
		  <section id='estado'>
		  <h1>O Estado</h1>
<p align="justify">		  
<img src="{{STATIC_URL}}img/pe_bandeira.gif" alt="Pernambuco"/><br>
Entre 1534 e 1536, D. João III instalou o sistema de Capitanias Hereditárias no Brasil. Tal sistema era caracterizado pela doação de um lote de terras, uma Capitania, a um Donatário (um nobre português), a quem caberia explorar, colonizar as terras, fundar povoados, arrecadar impostos e estabelecer as regras (a justiça) do local. Dentre os primeiros 14 lotes distribuídos por D. João III estava a Capitania de Pernambuco, ou Capitania de Nova Lusitânia, como seu Donatário, Duarte Coelho, a batizou.<br>
Dessa forma, em 1535, Duarte Coelho se estabeleceu no local onde, em 1537 foi fundada a Vila de Olinda. Nesse mesmo ano foi fundada também a Vila de Igarassu. Até então, os ocupantes daquela região eram os índios Tabajaras.<br>
Estabeleceram-se na Capitania vários engenhos, que investiam na plantação de cana-de-açúcar, utilizando mão-de-obra escrava. Durante vários anos, a Capitania de Pernambuco produziu grande quantidade de açúcar, sendo responsável por mais da metade das exportações do país.<br>
Tal prosperidade chamou a atenção dos holandeses, que, entre 1630 e 1654, ocuparam toda a região, sob o comando da Companhia das Índias Ocidentais, tendo como representante o Conde Mauricio de Nassau, que por ter incendiado Olinda, estabeleceu-se em Recife, fazendo dela a capital do Brasil holandês.<br>
A partir de 1645 teve início a Insurreição Pernambucana, movimento de luta contra o domínio holandês de Pernambuco. Foram quase 10 anos de conflito, com destaque para as Batalhas de Guararapes (foram duas), até que em janeiro de 1654 os holandeses se renderam.<br>
A ocupação dos holandeses fez prosperar a cidade de Recife, onde se estabeleceram muitos comerciantes e mascates, enquanto Olinda continuava a ser o reduto dos senhores de engenho. Devido a divergências quanto à demarcação de novas vilas, em 1710, os moradores de Olinda invadiram o Recife, dando inicio a chamada Guerra dos Mascates. O líder da ocupação, Bernardo Vieira de Melo entrou para a história quando sugeriu que Pernambuco se tornasse uma república. Essa foi a primeira vez que se falou em república no país. O conflito só terminou com a chegada, em 1711, do novo governador da região.<br>
Mas os conflitos e revoltas não foram só estes. Ocorreram ainda:<br><br>
• Revolução Pernambucana (1817) – Eclodiu por um conjunto de motivos, dentre os mais importantes: a crise na produção de açúcar e algodão, o descontentamento com o domínio do comércio pelos portugueses e as ideias republicanas. Os revolucionários venceram algumas lutas e chegaram a estabelecer um governo provisório, mas logo foram derrotados pelas forças militares.<br>
• Confederação do Equador (1824) – Movimento revolucionário que uniu várias províncias do Nordeste (Ceará, Rio Grande do Norte e Paraíba, além de Pernambuco) com ideias separatistas, ou seja, que pretendiam separar-se do império e instalar uma republica que seria chamada de Confederação do Equador. Frei Caneca foi o principal personagem desse movimento. Foram logo derrotados, e Frei caneca, fuzilado.<br>
• Revolução Praieira (1848) – Foi mais um conflito de cunho liberal, com ideias separatistas, mas que ocorreu na esfera político-partidária. Após a Proclamação da Republica, o estado de Pernambuco voltou-se para seu desenvolvimento industrial e de infraestrutura.
</p>
		  </section>
		  <hr>
            <section id='recife'>
              <h1>Recife</h1>
<p align="justify">
<img src="{{STATIC_URL}}img/recife.jpg" alt="Recife"/><br>
Com o nome que provém dos arrecifes – formações rochosas naturais que embelezam as praias e formam agradáveis piscinas naturais – a capital pernambucana é cercada de beleza por todos os lados. Suas três ilhas que formam o centro da cidade, são ligadas pelas pontes que são cartão postal do estado, e que também conectam os polos históricos e modernos que a cidade oferece. Seja para curtir o sol e o calor presentes o ano inteiro, ou para aproveitar o que a noite recifense tem de melhor, você só não pode deixar de se divertir.<br>
O Recife dispõe de uma grande variedade de pontos
turísticos que fazem com que os visitantes fiquem
encantados com tantas belezas naturais e culturais da
cidade, e para que essa visita fique marcada em sua memória.</p>
<div>
<h3>ARTE E HISTÓRIA</h3>
• Recife Antigo (Ilha do Recife) O tradicional bairro histórico da cidade concentra, durante o dia, grande movimentação comercial. A noite torna-se foco de lazer e entretenimento nas casas restauradas, que hoje são bares e restaurantes.<br>
Aproveite:<br>
1. Sinagoga Kahal Zur Israel, a primeira das Américas;<br>
2. Espaço Cultural da Torre Malakoff;<br>
3. Passeio de catamaran pelo rio Capibaribe sob as pontes do centro do Recife;<br>
4. Feira de artesanato da rua do Bom Jesus (aos domingos);<br>
5. Museu a céu aberto (antiga muralha da Cidade do Recife);<br>
6. Praça do Marco Zero;<br>
7. Teatro Apolo (primeiro teatro da cidade do Recife);<br>
8. Igreja da Madre de Deus;<br>
9. Shopping Paço Alfândega;<br>
10. Teatro Armazém.<br><br>

• Ilhas de São José e Santo Antônio Bairros comerciais e históricos do centro do Recife.<br>
Aproveite:<br>
1. Casa da Cultura, a antiga penitenciária e atual casa de artesanato;<br>
2. Praça da República e seus jardins;<br>
3. Teatro Santa Isabel;<br>
4. Capela Dourada;<br>
5. Mercado Público de São José;<br>
6. Pátio de São Pedro;<br>
7. Basílica de Nossa Senhora do Carmo;<br>
8. Palácio da Justiça;<br>
9. Palácio do Governo;<br>
10. Baobá;<br>
11. Basílica da Penha;<br>
12. Diário de Pernambuco (jornal mais antigo ainda em circulação da América Latina);<br>
13. Calçadão dos Mascates (camelódromo);<br>
14. Praça Joaquim Nabuco;<br>
15. Estação Central (Museu do Trem).<br><br>
• Oficina Brennand Oficina de cerâmica do famoso artista pernambucano Francisco Brennand. O espaço exótico imerso na natureza é uma exposição permanente das obras do artista.
</div>
<div>
<h3>Instituto Ricardo Brennand</h3>
O instituto está sediado em um complexo arquitetônico
em estilo medieval, composto por três prédios: Museu
castelo São João, Pinacoteca e Galeria, circundados por um
vasto parque.</br>
Horário: de terça a domingo, das 13h às 17h.</br>
Entrada: R$ 15,00 (inteira) R$ 5,00 (estudantes, professores e
idosos acima de 60 anos com documentação
comprobatória).
OBS.: crianças até 7 anos gratuito.</br></br>
Endereço: Alameda Antônio Brennand, s/n - Várzea - Recife /
PE CEP. 50741-904.
</div>
<div>
<h3>
Praia de Boa Viagem</h3>
Ela é a mais conhecida praia urbana da capital
pernambucana e encanta os turistas pelas águas claras e
piscinas naturais. a diversão fica por conta do banho de mar
nas piscinas naturais que se formam quando a maré baixa e
os arrecifes ficam visíveis. os turistas dividem espaço com
diversos peixes e se deslumbram com a incrível cor azul da
água do mar.</br>
Endereço: Av. Boa Viagem, s/n – Recife / PE. CEP.51111-000<br>
Aproveite:<br>
• 1. Caldinhos caseiros;<br>
• 2. Queijo coalho assado na brasa;<br>
• 3. Amendoim torrado e cozido;<br>
• 4. Cocadas caseiras;<br>
• 5. Agulhinha e peixe frito<br>
• 6. Caranguejo;<br>
• 7. Camarão;<br>
• 8. Ostra;<br>
• 9. Raspa-raspa;<br>
• 10. Castanha de Caju.
</div>
<div>
<h3>Recife Antigo</h3>
Recife Antigo é um bairro da cidade de Recife onde fica
o centro histórico da cidade. É lá onde estão localizadas as
ruas de paralelepípedos e pedras portuguesas, além das
edificações mais antigas, que reúnem inclusive a memória da
breve invasão holandesa. Vale a pena também apreciar o
visual da cidade a partir do Marco Zero, à beira do Rio
Capibaribe.</br>
Endereço: Recife Antigo, s/n - Cidade, Recife / PE.
CEP. 50030-150.
</div>
<div>
<h3>
Rio Mar Shopping</h3>
Às margens do encontro entre o rio e o mar, na bacia
do pina, nasce o mais novo e moderno shopping do Recife — o
RioMar, maior centro de compras</br>
Endereço: Avenida República do Líbano s/n, 251 pina – Recife – PE. CEP: 51110-160.
</div>
<div>
<h3>Olinda, Alto da sé</h3>
O Alto da Sé faz parte do sítio histórico de Olinda, que
recebeu o título de patrimônio histórico e cultural da
humanidade em 1982. A cidade é marcada e admirada pelas
ladeiras e seu gigantesco carnaval.</br>
Endereço: Alto da Sé, s/n – Olinda / PE CEP. 53120-100.
</div>
<div>
<h3>
Porto de Galinhas</h3>
Desfrute ao máximo de sua estada em Pernambuco e
visite as praias mais badaladas do país, isso porque porto
de galinhas encanta pelas belezas naturais.</br>
Diretoria de turismo (porto de galinhas) (81) 3552.1480/1980</br>
Endereço: Porto de Galinhas s/n, Ipojuca / CEP. PE/ 55592-970.
</div>
            </section>
			 <hr>
            <section id='lazer'>
              <h1>Lazer e Entretenimento</h1>
<p align="justify">• Caxangá Golf & Country Club Fundado em 1928 é o único clube de Pernambuco, e o segundo do Brasil, a possuir um campo de golfe, e este tem 18 buracos. Além disso, a estrutura possui pista de hipismo e equitação.<br>
• Passeios de Catamaran Vários passeios pelo litoral norte e pelos rios do Recife são feitos a bordo de catamarãs, proporcionando uma vista de dentro para fora da cidade. Passando sob as pontes e atravessando bairros históricos, fazendo relato sobre a história do Recife.<br>
•Cachaçaria Carvalheira Entre alambiques antigos, moendas e peças de trens, milhares de barris de carvalho abrigam uma das melhores cachaças do Brasil. A Cachaçaria Carvalheira é uma fábrica de cachaça de verdade, instalada em um ambiente mágico, cheio de charme e tradição, onde você vai conhecer a história da cachaça, suas lendas e todo o processo de fabricação, envelhecimento e envase da mais genuína bebida brasileira.<br>
Tudo isso guiado por monitores bilíngues e com direito a uma deliciosa degustação de 7 rótulos de cachaça crua e envelhecida em barris.<br>
• Horário de visitação: de segunda a sexta, das 9h as 17h.<br>
• Sábados e domingos com agendamento prévio.<br>
• Rua Manoel Didier, 53, Imbiribeira, Recife – PE.<br>
• Informações: (81) 30818130<br>
• E-mail: turismo@carvalheira.com.br<br>
• Site: www.carvalheira.com.br<br>
• Apresentações culturais As atrações regionais são desde apresentações de dança como caboclinho, frevo e maracatu, até a gastronomia típica. De lugares requintados aos mais regionais para receber os turistas que desejam imergir na cultura pernambucana.<br>
<div>
<h3>COMPRAS</h3>
• Feira de Boa Viagem Localizada a beira mar da praia de Boa Viagem, a feira de artesanato tem artigos diversos, desde decoração, souvenirs, moda até a parte de alimentação com comidas típicas doces e salgadas. A feira divide espaço com a Igrejinha de Boa Viagem e o seu pátio é palco de apresentações de artistas de rua.<br>
• Casa da Cultura É a antiga penitenciária do Recife e hoje um grande centro de artesanato. Preservando ainda uma cela em condições originais, todas as outras sao ocupadas pelos mais diferentes estilos de arte.<br>
• Shopping Recife É um dos maiores shoppings centers do Brasil. Possui 465 lojas, 10 salas de cinema, 8 restaurantes, 4 praças de alimentação, e 5.000 vagas de estacionamento. Um de seus grandes diferenciais é o Pátio das Esculturas, uma das maiores áreas de exposições múltiplas do Nordeste.<br>
• Shopping Paço Alfândega Localizado no histórico bairro do Recife Antigo, ocupa o prédio da antiga alfândega do Recife. Foi completamente restaurado e hoje é um refinado centro de compras, cultura, gastronomia e lazer. Com lojas âncora como a Livraria Cultura, o Restaurante Assucar e a casa de recepção Arcádia, o shopping apresenta um mix desenvolvido para atender turistas e os próprios pernambucanos. O terraço panorâmico proporciona uma bela vista do rio Capibaribe e suas pontes.</div>
<div>
<h3>VIDA NOTURNA</h3>
Como toda metrópole, o Recife tem uma vida noturna muito agitada e que atende a diferentes estilos, idades e interesses. São bares, restaurantes e casas noturnas que estão concentrados em sua maioria nos bairros de Boa Viagem e Recife Antigo.</div>
<div>
<h3>GASTRONOMIA</h3>
No litoral as delícias do mar podem ser apreciadas de diferentes formas. Uma apresentação mais elaborada é encontrada em restaurantes, que servem incríveis moquecas e caldeiradas com sugestão de vinho para acompanhar.<br>
Já nas areias brancas das praias o visitante pode aproveitar uma opção mais popular, porém não menos importante, como os ensopados de aratu e os caranguejos cozinhados. Ainda pode encontrar desde os peixes fritos, onde o mais procurado é a agulhinha, até ostras, mariscos e delícias que não vem do mar, como queijo coalho assado na brasa, amendoim, ovo de codorna e os tradicionais caldinhos caseiros, onde o rei é o de feijão.<br>
Ainda na capital o visitante pode encontrar todo tipo de cozinha, desde a regional e nacional até a internacional.</div>
<div>
<h3>FESTAS POPULARES</h3>
O calendário de festas do Recife tem manifestações populares para todos os gostos.<br>
• Carnaval Acontece durante um mês inteiro e tem focos em vários lugares da cidade. Com seu perfil multicultural consegue agradar diferentes grupos e se transformar em uma grande festa, que acontece simultaneamente em toda a cidade.</div>
<div>
<h3>AVENTURA</h3>
• Mergulho Mesmo com o Brasil sendo abençoado com um litoral muito rico, foi o Recife que ficou com o título de capital brasileira dos afundamentos. Por ter sido palco de batalhas muito importantes para o país no período colonial, vários naufrágios se concentraram no litoral de Pernambuco e hoje são maravilhosos pontos de mergulho. O Navio Pirapama é um dos mais famosos e mais frequentados por turistas que visitam o Recife. O acesso é feito a bordo dos barcos das operadoras de mergulho, e os destroços ficam em média a 20 metros de profundidade. A visibilidade do local varia de acordo com a época do ano e pode chegar a 25 metros.</div>
</p>
</section>
          </article>
        </div>
      </div> <!-- end of .content-body -->
    </section>
    <footer class="main-footer">
      <div class="navigation">
        <nav class="navbar clearfix">
          <div class="container">
            <ul>
              <li><a href="{% url 'home.home' %}" title="Início">Início</a></li>
              <li class="active"><a href="{% url 'information.home' %}" title="Informações">Informações</a></li>
              <li><a href="{% url 'register.home' %}" title="Inscrições">Inscrições</a></li>
              <li><a href="{% url 'schedule.home' %}" title="Programação">Programação</a></li>
              <li><a href="{% url 'publications.home' %}" title="Trabalhos">Trabalhos</a></li>
              <li><a href="{% url 'blog.home' %}" title="Notícias">Notícias</a></li>
              <li><a href="{% url 'contact.home' %}" title="Contato">Contato</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container">
        <div class="row">
          <section class="span4 footer-info">
            <h1>Notícias</h1>
            <ol class="news">
              {% for article in footer_articles %}
                <li>
                  <a href="{% url 'blog_article_slug' article_slug=article.slug %}" title="{{article.title}}">
                    {{article.title}}
                  </a>
                </li>
              {% endfor %}
            </ol>
            <a href="{% url 'blog.home' %}" class="see-more"><small>ver mais</small></a>
          </section>
          <section class="span8 footer-info">
            <h1>Apoiadores</h1>
            <ul class="clearfix supporters">
              <li><a href="#" title="Universidade Federal de Pernambuco"><img src="{{STATIC_URL}}img/ufpe.jpg" alt="UFPE"/></a></li>
              <li><a href="#" title="Universidade Federal Rural de Pernambuco"><img src="{{STATIC_URL}}img/ufrpe.jpg" alt="UFRPE"/></a></li>
              <li><a href="#" title="Prefeitura da Cidade do Recife"><img src="{{STATIC_URL}}img/pcr.jpg" alt="Prefeitura da Cidade do Recife"/></a></li>
              <li class="last-support-image"><a href="#" title="Governo do Estado de Pernambuco"><img src="{{STATIC_URL}}img/pernambuco.jpg" alt="Governo do Estado de Pernambuco"/></a></li>
              <li><a href="#" title="Ministério da Educação"><img src="{{STATIC_URL}}img/mec.jpg" alt="Ministério da Educação"/></a></li>
              <li><a href="#" title="TAM"><img src="{{STATIC_URL}}img/tam.jpg" alt="TAM"/></a></li>
			  <li><a href="#" title="PET Mecânica - Ilha Solteira - UNESP"><img src="{{STATIC_URL}}img/petunesp.jpg" alt="PET MEC"/></a></li>
              <li class="last-support-image"><a href="#" title="CVC"><img src="{{STATIC_URL}}img/cvc.jpg" alt="CVC"/></a></li>
            </ul>
          </section>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="{{STATIC_URL}}js/vendor/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/vendor/jquery.backgrounder.min.js"></script>

    <script src="{{STATIC_URL}}js/custom-navs.min.js"></script>
    <script src="{{STATIC_URL}}js/main.min.js"></script>

    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
