<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    <!--Facebook stuff-->
    <meta property="og:image" content="http://enapet2013.ufpe.br/static/img/logotipo.png"/>
    <meta property="og:title" content="ENAPET 2013" /> 
    <meta property="og:url" content="http://enapet2013.ufpe.br"/>
    <meta property="og:description" content=""/>
    <!--End of Facebook stuff-->
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>XVIII ENAPET Recife 2013 &mdash; Nome da Seção</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/custom-navs.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/custom-breadcrumb.min.css">
    <!--[if gte IE 9]>
      <style type="text/css">
        .cssgradients {
          filter: none;
        }
      </style>
    <![endif]-->

    <script src="{{STATIC_URL}}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42842305-1', 'ufpe.br');
  ga('send', 'pageview');

</script>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    <header class="main-header">
      <div class="container">
        <nav class="navbar clearfix navbar-fixed-top">
          <div class="container">
            <ul>
              <li><a href="{% url 'home.home' %}" title="Início">Início</a></li>
              <li class="active"><a href="{% url 'information.home' %}" title="Informações">Informações</a></li>
              <li><a href="{% url 'register.home' %}" title="Inscrições">Inscrições</a></li>
              <li><a href="{% url 'schedule.home' %}" title="Programação">Programação</a></li>
              <li><a href="{% url 'publications.home' %}" title="Trabalhos">Trabalhos</a></li>
              <li><a href="{% url 'blog.home' %}" title="Notícias">Notícias</a></li>
              <li><a href="{% url 'contact.home' %}" title="Contato">Contato</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <section class="event-call clearfix">
        <div class="container">
          <ul id="social-networks" class="inline">
            <li>
              <a href="https://twitter.com/share?url=http%3A%2F%2Fenapet2013.ufpe.br&text=Site+do+XVIII+ENAPET" title="Compartilhe no Twitter" target="_blank" class="replacement twitter" data-toggle="tooltip"  data-placement="bottom">Twitter</a>
            </li>
            <li>
              <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fenapet2013.ufpe.br&t=Site+do+XVIII+ENAPET" title="Compartilhe no Facebook" target="_blank" class="replacement facebook" data-toggle="tooltip"  data-placement="bottom">Facebook</a>
            </li>
            <li>
              <a href="http://plus.google.com/share?url=http%3A%2F%2Fenapet2013.ufpe.br" title="Compartilhe no Google+" target="_blank" class="replacement gplus" data-toggle="tooltip"  data-placement="bottom">G+</a>
            </li>
          </ul>
          <div class="call-infos span8">
            <h1 class="replacement">XVIII ENAPET</h1>
            <div class="subscription clearfix">
              <span class="address">Recife — Pernambuco</span>
              <a href="{% url 'register.home' %}" title="Inscrições abertas" class="btn btn-success subscribe-button">Inscrições abertas</a>
            </div>
            <span class="nipple replacement">Data:</span><span class="date">1 a 6 Outubro de 2013</span>
          </div>
        </div>
      </section>
    </header>

    <section class="content clearfix">
      <header class="content-header">
        <div class="container">
          <div class="header-wrapper">
            <ul class="breadcrumb">
              <li><a href="{% url 'information.home' %}" title="migalhas">Informações</a> <span class="divider">/</span></li>
              <li class="active" title="Informações">Infraestrutura</li>
            </ul>
            <h1 class="small">
              <span class="section-name">Infraestrutura</span>
            </h1>
          </div>
          <iframe id="facebook-plugin" src="http://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FEnapet2013Recife&amp;send=false&amp;layout=standard&amp;width=220&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:80px;" allowTransparency="true"></iframe>
        </div>
      </header>
      <div class="content-body clearfix">
        <section class="news container">
          <ul class="nav nav-pills">
            <li><a href="#alimentacao" title="Eventos">Alimentação</a></li>
            <li><a href="#locais" title="Subcategoria 2">Locais</a></li>
			<li><a href="#transporte" title="Transporte">Transporte</a></li>
            <li><a href="#hospedagem" title="Hospedagem">Hospedagem</a></li>
          </ul>
          <article>
            <section id='alimentacao'>
              <h1>Alimentação</h1>
              <p align="justify">EM BREVE</p>
            </section>
            <hr>
            <section id='locais'>
              <h1>Locais</h1>
              <p align="justify">O XVIII ENAPET - RECIFE - PE será sediado por ambas as Universidades Federais do estado de Pernambuco:<br><br>
				UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO – UFRPE<br>
				Rua Dom Manoel de Medeiros, s/n, Dois Irmãos - CEP: 52171-900 - Recife/PE <br>
				<a href="http://www.ufrpe.br">http://www.ufrpe.br</a><br><br>
				UNIVERSIDADE FEDERAL DE PERNAMBUCO - UFPE<br>
				Av. Prof. Moraes Rego, 1235 - Cidade Universitária, Recife - PE - CEP: 50670-90 Recife/PE<br>
				Site: <a href="http://www.ufpe.br/ufpenova/">http://www.ufpe.br/ufpenova/</a><br>
				Mapa: <img src="{{STATIC_URL}}img/mapa.jpg" alt="Mapa UFPE"/><br>
				</p>
            </section>
            <hr>
            <section id='transporte'>
              <h1>Transporte</h1>
              <p align="justify"><h3>ÔNIBUS QUE PASSAM NA UFPE</h3><br>
Tarifa válida de segunda a sábado<br>
Anel Tarifa<br>
A R$ 2,15<br>
B R$ 3,35<br>
D R$ 2,65<br>
G R$ 1,40<br><br>
Tarifa reduzida aos domingos (A partir das 5h)<br>
Anel Tarifa<br>
A R$ 1,10<br>
B R$ 1,70<br>
D R$ 1,10<br>
G R$ 1,10<br>
Tarifa metrô<br>
Tarifa<br>
R$ 1,60<br><br>
Tarifa de Serviços Opcionais<br>
042 – Aeroporto	R$ 2,70<br>
072 – Candeias	R$ 4,10<br>
160 – Gaibu/Barra de Jangada	R$ 4,10<br>
195 – Recife/Porto de Galinhas	R$ 10,90<br>
191 – Recife/Porto de Galinhas (Nossa Senhora do Ó)	R$ 7,40<br><br>

Código: 040<br>
Linha: CDU/Boa Viagem/ Caxangá<br>
Empresa: Cidade do Recife Transportes S. A. (CRT)<br>
Tarifa: R$ 2,15<br>
Itinerários: Rua Acadêmico Hélio Ramos, Avenida General Polidoro, Avenida Caxangá, Rua Professor Moraes Rego (Pista Local Oeste da BR-101), Girador da Reitoria UFPE, Rodovia BR-101, Avenida Recife, Avenida Marechal Mascarenhas de Morais, Viaduto do Aeroporto (Sul), Rua Setúbal, Avenida Conselheiro Aguiar, Viaduto Capitão Temudo, Avenida Governador Agamenon Magalhães (Pista Leste), Praça do Derby (Pista Central Norte), Ponte da Capunga, Avenida General Polidoro, Rua Acadêmico Hélio Ramos.
<br><br>
Código: 440<br>
Linha: CDU/ Caxangá/ Boa viagem<br>
Empresa: Borborema Imperial Transportes Ltda.<br>
Tarifa: R$ 2,15<br>
Itinerários: Rua Acadêmico Hélio Ramos, Avenida General Polidoro, Avenida Caxangá, Rua Benfica, Praça do Derby (Pista Lateral Sul), Avenida Governador Agamenon Magalhães (Pista Central), Viaduto Capitão Temudo, Avenida Herculano Bandeira, Avenida Engenheiro Domingos Ferreira, Avenida Recife, Rodovia BR-101, Girador da Reitoria UFPE, Rua Acadêmico Hélio Ramos.
<br><br>
Código: 432<br>
Linha: CDU/Várzea <br>
Empresa: Cidade do Recife Transportes S. A. (CRT)<br>
Tarifa: R$ 2,15<br>
Itinerários: Rua Jorge Sampaio, Ponte Marechal Humberto Castelo Branco, Avenida Caxangá, Praça da Várzea, Rua Acadêmico Hélio Ramos, Avenida General Polidoro, Rua Benfica, Praça do Derby (Pista Central), Avenida Conde da Boa Vista, Ponte Duarte Coelho, Rua do Sol, Cais Santa Rita, Rua Primeiro de Março, Avenida Guararapes, Praça do Derby (Pista Central), Avenida Caxangá, Avenida General Polidoro, Ponte Marechal Humberto Castelo Branco, Avenida Martins de Barros.
<br><br>
Código: 431<br>
Linha: Cidade Universitária<br>
Empresa: Cidade do Recife Transportes S. A. (CRT)<br>
Tarifa: R$ 2,15<br>
Itinerários: Avenida Professor Luiz Freire, Rua Acadêmico Hélio Ramos, Rua Professor Moraes Rego (Pista Local Oeste da BR-101), Girador da Reitoria UFPE, Avenida Caxangá, Avenida Sport Club do Recife, Ponte da Madalena, Avenida Governador Agamenon Magalhães (Pista Local Oeste), Avenida Conde da Boa Vista, Avenida Guararapes, Avenida Dantas Barreto (Pista Oeste), Rua Siqueira Campos,
<br><br>
Código: 920<br>
Linha: Rio Doce/CDU<br>
Empresa: Rodoviária Caxangá Ltda.<br>
Tarifa: R$ 3, 35<br>
Itinerários: Terminal Integrado de Rio Doce, Avenida Tiradentes, Avenida Presidente Getúlio Vargas, Rua do Sol, Largo do Varadouro, Avenida Presidente Kennedy, Largo da Encruzilhada, Avenida João de Barros, Ponte da Torre, Avenida Caxangá, Avenida General Polidoro, Girador da Reitoria UFPE, Campos UFPE, Rua Acadêmico Hélio Ramos, Rua Benfica, Avenida das Garças.
<br><br>
Código: 202<br>
Linha: Barro/Macaxeira (Várzea) <br>
Empresa: Empresa Metropolitana Ltda.<br>
Tarifa: R$ 2,15<br>
Itinerários: Terminal Integrado do Barro, Rodovia BR-101, Girador da Reitoria UFPE, Rua Acadêmico Hélio Ramos, Terminal Integrado da Caxangá, Rua Dois Irmãos, Terminal Integrado Macaxeira.
<br><br>
Código: 469<br>
Linha: Camaragibe/CDU <br>
Empresa: Empresa Metropolitana Ltda.<br>
Tarifa: R$ 2,15<br>
Itinerários: Terminal Integrado de Camaragibe, Avenida Belmínio Correia, Ponte Marechal Humberto Castelo Branco, Avenida Caxangá, Terminal Integrado da Caxangá, Avenida General Polidoro, Girador da Reitoria UFPE, Campus UFPE, Rua Acadêmico Hélio Ramos.
<br><br>
Código: 330<br>
Linha: Casa Amarela/ CDU (TRT) <br>
Empresa: Transcol Transportes Coletivos Ltda.<br>
Tarifa: R$ 2, 65<br>
Itinerários: Rua Luiz Cesário de Melo, Rua Vasco da Gama, Rua Padre Lemos, Avenida Norte, Estrada do Arraial, Praça de Parnamirim, Viaduto Torre/Parnamirim, Avenida Caxangá, Avenida General Polidoro, Girador da Reitoria UFPE, Campus UFPE, Rua Acadêmico Hélio Ramos, Estrada dos Remédios, Rua do Futuro, Avenida Conselheiro Rosa e Silva.
<br><br>
Código: 522<br>
Linha: Dois Irmãos (Rui Barbosa) <br>
Empresa: Transcol Transportes Coletivos Ltda.<br>
Tarifa: R$ 2, 65<br>
Itinerários: Rua Acadêmico Hélio Ramos, Praça da Várzea, Avenida Caxangá, Rua Dois Irmãos, Rua Apipucos, Praça de Parnamirim, Avenida Rui Barbosa, Avenida João de Barros, Rua do Príncipe, Praça da República, Rua Primeiro de Março, Praça da Independência, Avenida Guararapes, Rua da Aurora, Rua Gouveia de Barros, Avenida Conselheiro Rosa e Silva, Rua Apipucos.
<br><br>
Código: 302<br>
Linha: Curado II/ Caxangá <br>
Empresa: Viaçao Mirim Ltda.<br>
Tarifa: R$ 2, 65<br>
Itinerários: Rua Jorge Sampaio, Ponte Marechal Humberto Castelo Branco, Avenida Caxangá, Praça da Várzea, Rua Acadêmico Hélio Ramos, Avenida General Polidoro, Girador da Reitoria UFPE, Rodovia BR-101, Avenida Recife, Rodovia BR-232, Avenida Engenheiro Abdias de Carvalho, Estação de Metrô TIP, Rodovia BR-408, Rua João Cabral de Melo Neto, Avenida Liberdade.
<br><br>
Código: 207<br>
Linha: Barro/Macaxeira (BR 101) <br>
Empresa: Empresa Metropolitana Ltda.<br>
Tarifa: R$ 2,15<br>
Itinerários: Terminal Integrado do Barro, Rodovia BR-101, Rua Professor Moraes Rego (Pista Local Leste da BR-101), Terminal Integrado Macaxeira.
<br><br>
Código: 303<br>
Linha: Curado II/ Caxangá (BR 232)<br>
Empresa: Viaçao Mirim Ltda.<br>
Tarifa: R$ 2, 65<br>
Itinerários: Avenida Afonso Olindense, Praça da Várzea, Avenida Caxangá, Terminal Integrado da Caxangá, Girador da Reitoria UFPE, Campus UFPE, Rodovia BR-408, Rodovia BR-232, Rodovia BR-101.
<br><br>
Código: 424<br>
Linha: CDU/Torrões (Via San Martin) <br>
Empresa: Cidade do Recife Transportes S. A. (CRT)<br>
Tarifa: R$ 2,15<br>
Itinerários: Rua Professor Luís Freire, Rua Acadêmico Hélio Ramos, Girador da Reitoria UFPE, Avenida do Forte, Avenida Engenheiro Abdias de Carvalho, Estrada do Bongi, Estrada dos Remédios, Retorno sob o Viaduto da Caxangá, Campus UFPE.
<br><br>
Código: 060<br>
Linha: CDU / TI Tancredo Neves<br>
Empresa: Borborema Imperial Transportes Ltda.<br>
Tarifa: R$ 2,15<br>
Itinerários: CDU, Terminal integrado Tancredo Neves<br>
<br><br>
Código: 060<br>
Linha: TI Tancredo Neves / TI Macaxeira<br>
Empresa: Borborema Imperial Transportes Ltda.<br>
Tarifa: R$ 2,15<br>
Itinerários: TI Macaxeira, TI Tancredo Neves<br><br>

Informações de ônibus na Cidade do Recife: <a href="http://www.granderecife.pe.gov.br/index.asp">Site Grande Recife</a>
</p>
            </section>
            <hr>
            <section id='hospedagem'>
              <h1>Hospedagem</h1>
<div>
  <h3>HOTEL IMPERADOR</h3>
  Av. Caxangá, 4190, Iputinga, Recife – PE.</br>
  Telefone: (81) 3453-6904
</div>
<div>
<h3>HOTEL DAS FRONTEIRAS</h3>
Rua Henrique Dias, 255, Derby,
Recife – PE.</br>Telefone: (81) 3222-4206</br>
</div>

<div><h3>HOTEL JANGADEIRO</h3>
Av. Boa Viagem, 3114 - Boa 
Viagem - Recife-PE - Brasil</br>
www.jangadeirohotel.com.br</br>
PABX: (81) 3086.5050 / 3465.3544</br> 
Fax: (81) 3466-5786</br>
reservas@jangadeirohotel.com.br
</div>

<div><h3>CANARIU’S PALACE HOTEL</h3>
R. dos Navegantes, 435 – Boa 
Viagem – Recife – PE, CEP 51.021-
010</br>
Tel.: 55 – (81) 3465-1532 Fax: 55 – 
(81) 3326-6226</br>
Home 
Page: www.hotelcanarius.com.br
</div>

<div><h3>MAR HOTEL</h3>
Rua Barão de Souza Leão, 451 - 
Boa Viagem - Recife - PE - Brasil</br>
Tel: (81) 3302-4444 - Fax: (81) 
3302-4488 / Central de Reservas: 
(81) 3302-4446/reservas@ponteshoteis.com.br
</div>
<div>
<h3>RECIFE PRAIA HOTEL</h3>
Av. Boa Viagem, N° 9, Pina, Recife -
PE - CEP. 51.011-000 - Brasil</br>
Tel: +55-81-2122-1100
</div>
<div>
<h3>HOTEL POUSADA PETER</h3>
Rua Amparo, 215, Olinda-PE.</br> 
Telefone: (81) 3439-
2171.</br>
http://www.pousadapeter.com
.br
</div>
<div>
<h3>ALBERGUE MARACATUS DO 
RECIFE</h3>
Endereço: Rua Maria 
Carolina, 185, Boa Viagem - Recife 
– PE.</br>
Telefone: (81) 3326-1221.</br>
Email: alberguemaracatus@yahoo.com
</div>
<div>
<h3>ALBERGUE PIRATAS DA PRAIA 
HOSTEL</h3>
Av. Cons. Aguiar, 2034 – 3º Andar, 
Edf. Barão de Camaçari, Boa 
Viagem - Recife - Pernambuco – 
Brasil</br>
Telefone: (81) 3326-1281, 
Celular: (81) 9649-6887 / (81) 8786-
6080.</br>
http://www.piratasdapraia.com/
br/home.htm
</div>
<div>
<h3>HOSPEDARIA CASA DA BOA VISTA</h3>
Endereço: Rua Idelfonso 
Lopes, 54. Boa Vista.</br>
Telefone: 
(81)3083 4155
</div>
<div>
<h3>ALBERGUE HOTEL BOA VIAGEM</h3>
Endereço: Rua Aviador Severiano 
Lins, 455, Boa Viagem.</br>
Telefone: 
(81) 3326-9572 - Fax: (81) 3326-
9572
</div>
<div>
<h3>ALBERGUE DE OLINDA</h3>
Endereço: 
Rua Sol. 233, Carmo. Olinda.</br> 
Telefone: (81) 3429-1592. Fax: (81) 
3439-1913.</br>
Site: http://www.alberguedeolinda.co
m.br
</div>
<div>
<h3>ALBERGUE UNIVERSITÁRIO</h3>
Rua 
Cel. Célio Regueira, 96, Cidade 
Universitária - Recife - PE (ao lado 
do campo de futebol society) 
Vaneide Monteiro Costa
</br>(81)9685-
0881 - 3272-0134 / 3273.1212 
- albergue21@gmail.com
</div>
<div>
<h3>POUSADA VITÓRIA</h3>
R. Capitão Zuzinha, 234 - Boa 
Viagem, Recife-PE</br>
(81) 3462.6446 / 3461.3374</br>
www.pousadavitoriarecife.com.br
</div>
<div>
<h3>ALBERGUE E POUSADA PIRATA 
DO SOL</h3>
Rua Marquês de Valença, 210 C - 
Boa Viagem, Recife/PE</br>
(81) 3328-2845 / (81) 9637-2065</br>
alberguepiratasdosol.blogspot.com.
br
pousadapiratadosol.blogspot.com.br
</div>
<div>
<h3>POUSADA CASUARINAS</h3>
Rua Antônio Pedro Figueiredo, 151 
- Boa Viagem, Recife/PE</br>
(81) 3325-4708</br>
www.pousadacasuarinas.com.br
</div>
<div>
<h3>ARRECIFES HOSTEL</h3>
Rua João Cardoso Aires, 560 - Boa 
Viagem, Recife/PE</br>
(81) 34625867</br>
arrecifeshostel.com.br
</div>
<div>
<h3>POUSADA VILLA BOA VISTA</h3>
Rua Miguel Couto, 81 - Boa Vista, 
Recife/PE</br>
(81) 32230666</br>
www.pousadavillaboavista.com.br
</div>
<div><h3>
POUSADA CASA DA BOA VISTA</h3>
Rua Ildefonso Lopes, 54 - Boa 
Vista, Recife/PE</br>
(81) 30834155
</div>
<div><h3>
POUSADA ROSA E SILVA</h3>
Avenida Conselheiro Rosa e Silva, 
1599 - Graças, Recife/PE</br>
(81) 32413849</br>
</div>
<div><h3>
POUSADA DO FORTE</h3>
Rua Imperial, 175 - São José, 
Recife/PE</br>
(81) 3224.4109</br>
www.pousadadoforte.com.br
</div>
<div><h3>
POUSADA PINHEIROS</h3>
Rua Coronel Célio Regueira, 96 – 
Várzea, Recife/PE</br>
(81) 3273-1212 / 9632-9287</br>
www.pousadapinheiros.com.br
</div>
<div><h3>
ALBERGUE ALVORADA</h3>
Rua Brigadeiro Antônio de Sampaio,
360 Casa 08 – Várzea, Recife/PE</br>
(81) 99314065 / 8863-5030 / 9495-
3840</br>
alberguealvorada.blogspot.com.br
</div>
            </section>
          </article>
        </div>
      </div> <!-- end of .content-body -->
    </section>
    <footer class="main-footer">
      <div class="navigation">
        <nav class="navbar clearfix">
          <div class="container">
            <ul>
              <li><a href="{% url 'home.home' %}" title="Início">Início</a></li>
              <li class="active"><a href="{% url 'information.home' %}" title="Informações">Informações</a></li>
              <li><a href="{% url 'register.home' %}" title="Inscrições">Inscrições</a></li>
              <li><a href="{% url 'schedule.home' %}" title="Programação">Programação</a></li>
              <li><a href="{% url 'publications.home' %}" title="Trabalhos">Trabalhos</a></li>
              <li><a href="{% url 'blog.home' %}" title="Notícias">Notícias</a></li>
              <li><a href="{% url 'contact.home' %}" title="Contato">Contato</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="container">
        <div class="row">
          <section class="span4 footer-info">
            <h1>Notícias</h1>
            <ol class="news">
              {% for article in footer_articles %}
                <li>
                  <a href="{% url 'blog_article_slug' article_slug=article.slug %}" title="{{article.title}}">
                    {{article.title}}
                  </a>
                </li>
              {% endfor %}
            </ol>
            <a href="{% url 'blog.home' %}" class="see-more"><small>ver mais</small></a>
          </section>
          <section class="span8 footer-info">
            <h1>Apoiadores</h1>
            <ul class="clearfix supporters">
              <li><a href="http://www.ufpe.br/" target="_blank" title="Universidade Federal de Pernambuco"><img src="{{STATIC_URL}}img/ufpe.jpg" alt="UFPE"/></a></li>
              <li><a href="http://www.ufrpe.br/" target="_blank" title="Universidade Federal Rural de Pernambuco"><img src="{{STATIC_URL}}img/ufrpe.jpg" alt="UFRPE"/></a></li>
              <li><a href="http://www.recife.pe.gov.br" title="Prefeitura da Cidade do Recife"><img src="{{STATIC_URL}}img/pcr.jpg" alt="Prefeitura da Cidade do Recife"/></a></li>
              <li class="last-support-image"><a href="http://www.pe.gov.br" target="_blank" title="Governo do Estado de Pernambuco"><img src="{{STATIC_URL}}img/pernambuco.jpg" alt="Governo do Estado de Pernambuco"/></a></li>
              <li><a href="http://www.mec.gov.br" target="_blank" title="Ministério da Educação"><img src="{{STATIC_URL}}img/mec.jpg" alt="Ministério da Educação"/></a></li>
			  <li><a href="https://www.facebook.com/petilha.engenhariamecanica" title="PET Mecânica - Ilha Solteira - UNESP"><img src="{{STATIC_URL}}img/petunesp.jpg" alt="PET MEC"/></a></li>
              <li><a href="http://www.tamviagens.com.br/" title="TAM Airlines"><img src="{{STATIC_URL}}img/bannertam.jpg" alt="TAM"/></a></li>
			</ul>
          </section>
        </div>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <script src="{{STATIC_URL}}js/vendor/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/vendor/jquery.backgrounder.min.js"></script>

    <script src="{{STATIC_URL}}js/custom-navs.min.js"></script>
    <script src="{{STATIC_URL}}js/main.min.js"></script>

    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
